{% extends 'SedaBundle::layout.html.twig' %}

{% block contenido %}
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Objetivos</th>
				<th>Peso</th>
				<th>Primera Revisión</th>
				<th>Segunda Revisión</th>
				<th>Tercera Revisión</th>
			</tr>
		</thead>
		<tbody>
			{% for objetivo in objetivos %}
				<tr>
					<td>{{ objetivo.objetivo }}</td>
					<td>{{ objetivo.peso }}</td>
					<td>{{ objetivo.primeraRevision|date('d/m/Y') }}</td>
					<td>{{ objetivo.segundaRevision|date('d/m/Y') }}</td>
					<td>{{ objetivo.terceraRevision|date('d/m/Y') }}</td>
				</tr>
			{% else %}
			<tr>
			  <td>
			  <h2 >No existen registros de Objetivos</h2>
			  </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}