{% extends 'SedaBundle::layout.html.twig' %}

{% block contenido %}

 {# {{ odis | ld }} #}

<div class="row">

	<table id="tabla-revision-listar" class="table table-striped">

		<thead>
			<tr>
				<th>#</th>
				<th>Dependencia</th>
				<th>Funcionario</th>
				<th>Periodo</th>
				<th>Año</th>
				<th>Revisado</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for odi in odis %}
				<tr>
					<td align = "center">{{ loop.index }}</td>
					<td align = "center">{{ odi.usuario.dependencia }}</td>
					<td align = "center">{{ odi.usuario }}</td>
					<td align = "center">
						{% if odi.periodo == 1 %}
						    1er. Semestre
						{% endif %}
						{% if odi.periodo == 2 %}
						    2do. Semestre
						{% endif %}						
					</td>
					<td align = "center">{{ odi.ano }}</td>
					<td align = "center">
						{% if odi.vbogth == true %}
						    Si
						{% endif %}
						{% if odi.vbogth == false %}
						    No
						{% endif %}						
					</td>					
					<td align = "center">
					{% if odi.vbevaluado == true %}
					Validado por el Evaluado
					{% else %}
						<a href="{{ path('Seda_observaciones_revision', { 'id': odi.id }) }}">Revisión</a>
					{% endif %}
					
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/tablas.js') }}"></script>
{% endblock %}