{% extends 'SedaBundle::layout.html.twig' %}



{% block contenido %}
	
		{{ form_start(formulario, { 'attr': {'novalidate': 'novalidate', 'class': 'form-inline', 'id': 'elegirodi'} }) }}
		    {{ form_errors(formulario) }}
		<div class="row">

		</div>
	    <div class="row" align= "center">

		    <div class="form-group">
		    	<div>{{ form_label(formulario.usuario, 'Funcionario') }}</div>	
		        <div>{{ form_widget(formulario.usuario, { 'attr': {'class': 'form-control'} }) }}</div>
			    <div class="alert-danger" align= "center">{{ form_errors(formulario.usuario) }}</div>
		    </div>

		    <div class="form-group">
		    	<div>{{ form_label(formulario.periodo, 'Periodo') }}</div>	
		        {{ form_widget(formulario.periodo, { 'attr': {'class': 'form-control'} }) }}
			    <div class="alert-danger" align= "center">{{ form_errors(formulario.periodo) }}</div>        
		    </div>

		    <div class="form-group">
		    	<div>{{ form_label(formulario.ano, 'Año') }}</div>	
		        <div>{{ form_widget(formulario.ano, { 'attr': {'class': 'form-control'} }) }}</div>
		        <div class="alert-danger" align= "center">{{ form_errors(formulario.ano) }}</div>
		    </div>

	    </div>
		<div class="form-group"><br></div>
	    <div class="row" align= "center">
			<input class="btn btn-primary" type="submit" value="Buscar" />
		</div>
		{{ form_end(formulario) }}
	</br>
		<div class="row">
			 <div class="alert-danger" align= "center">{{ error }}</div>
		</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/elegirodi.js') }}"></script>
{% endblock %}