{% extends 'SedaBundle::layout.html.twig' %}

{% block contenido %}

 {# {{ eliminado | ld }} #}

{% if eliminado is defined %}	
	<div class="row">
		<div class="alert-danger" align= "center">{{ eliminado }}</div>
	</div>
	</br>
{% endif %}
<div class="class row">
		<h4 align="center">Listado de Evaluacion de Objetivos de Desempeño Individual</h4>
</div>
<br>

<div class="row">
	<table id="tabla-lista-odi"class="table table-striped">

		<thead>
			<tr>
				<th>Dependencia</th>
				<th>Funcionario</th>
				<th>Año</th>
				<th>Periodo</th>
				<th>Rango de Actuación</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for evaluacion in evaluaciones %}
				<tr>
					<td align = "center">{{ evaluacion.odi.usuario.dependencia }}</td>
					<td align = "center">{{ evaluacion.odi.usuario }}</td>
					<td align = "center">{{ evaluacion.odi.ano }}</td>
					<td align = "center">
						{% if evaluacion.odi.periodo == 1 %}
						    1er. Semestre
						{% endif %}
						{% if evaluacion.odi.periodo == 2 %}
						    2do. Semestre
						{% endif %}
					</td>
					<td align = "center">
					{% if (evaluacion.total >= 100) and (evaluacion.total <= 179) %}
					    MUY POR DEBAJO DE LO ESPERADO
					{% elseif (evaluacion.total >= 180) and (evaluacion.total <= 259) %}
						POR DEBAJO DE LO ESPERADO 
					{% elseif (evaluacion.total >= 260) and (evaluacion.total <= 339) %}
						DENTRO DE LO ESPERADO
					{% elseif (evaluacion.total >= 340) and (evaluacion.total <= 419) %}
						SOBRE LO ESPERADO
					{% elseif (evaluacion.total >= 420) and (evaluacion.total <= 500) %}
						DESEMPEÑO EXCEPCIONAL
					{% endif %}		
					</td>
					<td align = "center">
						<a href="{{ path('Seda_evaluacion_mostrar', { 'odi_id': evaluacion.odi.id }) }}" title="Mostrar"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span></a>
						&nbsp;&nbsp;
						<a href="{{ path('Seda_evaluacion_eliminar', { 'evaluacion_id': evaluacion.id }) }}" title="Eliminar"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></a>
					</td>					
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/tablas.js') }}"></script>
{% endblock %}